body {
  background-color: #000000;
  margin-left: 0;
  margin-right: 0;
  font-size: calc(1em + 1vw);
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23191919' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body::-webkit-scrollbar {
  display: none;
}

.center {
  text-align: center;
}

.ability {
  margin: auto;
  width: 50%;
  text-align: justify;
}

.ability h3 {
  font-size: 0.8em;
}

.ability p {
  color: #fff;
  font-family: sans-serif;
  font-size: 0.7em;
}

.races-grid {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.single-grid {
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.single-grid li {
  width: 4em;
  list-style-type: none;
  text-align: center;
}


ul.single-grid {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.single-grid li p {
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: .6em;
}

.dragon-grid {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.terrain-grid {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.one-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  justify-items: center;
  margin-bottom: -2em;
}

.sides-grid {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.msides-grid {
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-item {
  width: 4em;
  height: 4em;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-size: cover;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  text-decoration: none;
}

.grid-item p {
  display: none;
  font-size: 0.6em;
  font-family: sans-serif;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.grid-item:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.grid-item:hover p {
  display: inline-block;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1em;
  margin-left: 1em;
  display: inline-block;
}

h2 {
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 2.2em;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1em;
  margin-bottom: 2em;
}

h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-top: 2em;
  font-size: 1em;
  display: block;
  text-align: center;
}

a {
  text-decoration: none;
}

p, span {
  color: #ffffff;
  font-family: sans-serif;
}

.side-container {
  text-align: center;
}

.side-item {
  width: 3em;
  height: 3em;
}

.staging-container {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  padding-top: 20px;
  padding-bottom: 20px;
  display:none;
  text-align: center;
  margin-bottom: 10px;
}

.desc-container {
  width: 100vw;
}

.sidedesc {
  display: inline;
  color: #fff;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  font-size: 0.8em;
  display: none;
  text-align: center;
  width: 50%;
}

#spell-container, .rules-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.spell-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: none;
  font-weight: normal;
  font-size: 0.8em;
  margin-bottom: -0.5em;
}

span:first-of-type {
  white-space: nowrap;
}

.spell-flex span{
  margin-right: 1em;
}

.spell-desc {
  text-align: left;
  width: 100%;
  text-transform: none;
  font-weight: normal;
  font-size: 0.7em;
  margin-bottom: 3em;
}

.rules-container * {
  text-align: left;
  text-transform: none;
  font-weight: normal;
}

.rules-container h2 {
  text-align: center;
}

.rules-container p, .rules-container olli {
  font-size: 0.8em;
}

ol {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

ol li {
  color: #ffffff;
  font-family: sans-serif;
  list-style-type: decimal;
  width: auto;
  margin-left: 1em;
  margin-bottom: 0.2em;
}

#topbar a, #topbar h2 {
  width: auto;
  display: inline;
}

#topbar a:last-of-type {
  float: right;
  margin-top: 0.7em;
  margin-right: 1em;
}

@media screen and (max-width: 1600px) {

    #spell-container, .rules-container, .sidedesc {
	width: 70%;
    }

    .ability {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {

    .races-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

   .dragon-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .grid-item {
        width: 3em;
        height: 3em;
    }
    
    .side-item {
        width: 2.5em;
        height: 2.5em;
    }
    
    .races-grid .grid-item {
        width: 4em;
        height: 4em;
    }

    #spell-container, .rules-container, .sidedesc {
	width: 94%;
    }

    .spell-flex {
        justify-content: initial;
    }

    .ability {
        width: 94%;
    }

   .single-grid li {
    width: 3em;
    }

}

.amazon-item p {
  color: #e2e4d7;
  background-color: rgba(155, 46, 146, 0.9);
}

.coralelf-item p {
  color: #e5e5e5;
  background-color: rgba(68, 89, 144, 0.9);
}

.dwarf-item p {
  color: #ffffff;
  background-color: rgba(178, 86, 35, 0.9);
}

.feral-item p {
  color: #fffdec;
  background-color: rgba(21, 110, 108, 0.9);
}
.firewalker-item p {
  color: #fffdeb;
  background-color: rgba(97, 0, 0, 0.9);
}

.frostwing-item p {
  color: #f8f8f8;
  background-color: rgba(42, 65, 112, 0.9);
}

.goblin-item p {
  color: #e9eaeb;
  background-color: rgba(6, 5, 3, 0.9);
}

.lavaelf-item p {
  color: #f7f7f8;
  background-color: rgba(90, 14, 15, 0.9);
}

.undead-item p {
  color: #9aca3c;
  background-color: rgba(35, 34, 34, 0.9);
}

.scalder-item p {
  color: #DDCF9D;
  background-color: rgba(140, 21, 35, 0.9);
}

.swampstalker-item p {
  color: #dbd36a;
  background-color: rgba(7, 6, 4, 0.9);
}

.treefolk-item p {
  color: #f7eded;
  background-color: rgba(47, 104, 43, 0.9);
}

.elemental-item {
  width: 3em;
  height: 3em;
  background-size: cover;
  margin-top: -0.4em;
}

.elemental-item p {
  display: inline-block;
  font-size: 0.7em;
  font-family: sans-serif;
  position: relative;
  bottom: -4.5em;
  padding: 0;
  text-align: center;
}

/* Amazon Backgrounds */

#hydra {
  background-image: url("img/Hydra.png");
}

#chimera {
  background-image: url("img/Chimera.png");
}

#centaur {
  background-image: url("img/Centaur.png");
}

#medusa {
  background-image: url("img/Medusa.png");
}

#nightmare {
  background-image: url("img/Nightmare.png");
}

#warchief {
  background-image: url("img/warchief.png");
}

#harbinger {
  background-image: url("img/harbinger.png");
}

#spearer {
  background-image: url("img/spearer.png");
}

#wardriver {
  background-image: url("img/wardriver.png");
}

#oracle {
  background-image: url("img/oracle.png");
}

#warrior {
  background-image: url("img/warrior.png");
}

#envoy {
  background-image: url("img/envoy.png");
}

#javelineer {
  background-image: url("img/javelineer.png");
}

#battlerider {
  background-image: url("img/battlerider.png");
}

#visionary {
  background-image: url("img/visionary.png");
}

#soldier {
  background-image: url("img/soldier.png");
}

#runner {
  background-image: url("img/runner.png");
}

#darter {
  background-image: url("img/darter.png");
}

#charioteer {
  background-image: url("img/charioteer.png");
}

#seer {
  background-image: url("img/seer.png");
}

#amazon-melee1 {
  background-image: url("img/amazon-melee1.png");
}

#amazon-melee2 {
  background-image: url("img/amazon-melee2.png");
}

#amazon-melee3 {
  background-image: url("img/amazon-melee3.png");
}

#amazon-melee4 {
  background-image: url("img/amazon-melee4.png");
}

#amazon-missile1 {
  background-image: url("img/amazon-missile1.png");
}

#amazon-missile2 {
  background-image: url("img/amazon-missile2.png");
}

#amazon-missile3 {
  background-image: url("img/amazon-missile3.png");
}

#amazon-missile4 {
  background-image: url("img/amazon-missile4.png");
}

#amazon-maneuver1 {
  background-image: url("img/amazon-maneuver1.png");
}

#amazon-maneuver2 {
  background-image: url("img/amazon-maneuver2.png");
}

#amazon-maneuver3 {
  background-image: url("img/amazon-maneuver3.png");
}

#amazon-save1 {
  background-image: url("img/amazon-save1.png");
}

#amazon-save2 {
  background-image: url("img/amazon-save2.png");
}

#amazon-save3 {
  background-image: url("img/amazon-save3.png");
}

#amazon-magic1 {
  background-image: url("img/amazon-magic1.png");
}

#amazon-magic2 {
  background-image: url("img/amazon-magic2.png");
}

#amazon-magic3 {
  background-image: url("img/amazon-magic3.png");
}

#amazon-magic4 {
  background-image: url("img/amazon-magic4.png");
}

#amazon-magic5 {
  background-image: url("img/amazon-magic5.png");
}

#amazon-bullseye {
  background-image: url("img/amazon-bullseye.png");
}

#amazon-cantrip {
  background-image: url("img/amazon-cantrip.png");
}

#amazon-counter {
  background-image: url("img/amazon-counter.png");
}

#amazon-smite {
  background-image: url("img/amazon-smite.png");
}

#amazon-trample3 {
  background-image: url("img/amazon-trample3.png");
}

#amazon-counterm {
  background-image: url("img/amazon-counterm.png");
}

#amazon-doublestrikem {
  background-image: url("img/amazon-doublestrikem.png");
}

#amazon-firewalkingm {
  background-image: url("img/amazon-firewalkingm.png");
}

#amazon-firebreathm {
  background-image: url("img/amazon-firebreathm.png");
}

#amazon-flamem {
  background-image: url("img/amazon-flamem.png");
}

#amazon-flym {
  background-image: url("img/amazon-flym.png");
}

#amazon-hoofm {
  background-image: url("img/amazon-hoofm.png");
}

#amazon-nflym {
  background-image: url("img/amazon-nflym.png");
}

#amazon-kickm {
  background-image: url("img/amazon-kickm.png");
}

#amazon-magicm {
  background-image: url("img/amazon-magicm.png");
}

#amazon-maneuverm {
  background-image: url("img/amazon-maneuverm.png");
}

#amazon-meleem {
  background-image: url("img/amazon-meleem.png");
}

#amazon-missilem {
  background-image: url("img/amazon-missilem.png");
}

#amazon-rendm {
  background-image: url("img/amazon-rendm.png");
}

#amazon-savem {
  background-image: url("img/amazon-savem.png");
}

#amazon-smitem {
  background-image: url("img/amazon-smitem.png");
}

#amazon-stonem {
  background-image: url("img/amazon-stonem.png");
}

#amazon-tramplem {
  background-image: url("img/amazon-tramplem.png");
}


/* Coral Elf Backgrounds */

#coralgiant {
  background-image: url("img/CoralGiant.png");
}

#tako {
  background-image: url("img/Tako.png");
}

#gryphon {
  background-image: url("img/Gryphon.png");
}

#leviathan {
  background-image: url("img/Leviathan.png");
}

#spriteswarm {
  background-image: url("img/SpriteSwarm.png");
}

#protector {
  background-image: url("img/protector.png");
}

#herald {
  background-image: url("img/herald.png");
}

#sharpshooter {
  background-image: url("img/sharpshooter.png");
}

#eagleknight {
  background-image: url("img/eagleknight.png");
}

#enchanter {
  background-image: url("img/enchanter.png");
}

#trooper {
  background-image: url("img/trooper.png");
}

#courier {
  background-image: url("img/courier.png");
}

#archer {
  background-image: url("img/archer.png");
}

#knight {
  background-image: url("img/knight.png");
}

#conjurer {
  background-image: url("img/conjurer.png");
}

#fighter {
  background-image: url("img/fighter.png");
}

#guard {
  background-image: url("img/guard.png");
}

#bowman {
  background-image: url("img/bowman.png");
}

#horseman {
  background-image: url("img/horseman.png");
}

#evoker {
  background-image: url("img/evoker.png");
}

#coralelf-melee1 {
  background-image: url("img/coralelf-melee1.png");
}

#coralelf-melee2 {
  background-image: url("img/coralelf-melee2.png");
}

#coralelf-melee3 {
  background-image: url("img/coralelf-melee3.png");
}

#coralelf-melee4 {
  background-image: url("img/coralelf-melee4.png");
}

#coralelf-missile1 {
  background-image: url("img/coralelf-missile1.png");
}

#coralelf-missile2 {
  background-image: url("img/coralelf-missile2.png");
}

#coralelf-missile3 {
  background-image: url("img/coralelf-missile3.png");
}

#coralelf-missile4 {
  background-image: url("img/coralelf-missile4.png");
}

#coralelf-maneuver1 {
  background-image: url("img/coralelf-maneuver1.png");
}

#coralelf-maneuver2 {
  background-image: url("img/coralelf-maneuver2.png");
}

#coralelf-maneuver3 {
  background-image: url("img/coralelf-maneuver3.png");
}

#coralelf-hoof3 {
  background-image: url("img/coralelf-hoof3.png");
}

#coralelf-hoof2 {
  background-image: url("img/coralelf-hoof2.png");
}

#coralelf-hoof1 {
  background-image: url("img/coralelf-hoof1.png");
}

#coralelf-save2 {
  background-image: url("img/coralelf-save2.png");
}

#coralelf-save3 {
  background-image: url("img/coralelf-save3.png");
}

#coralelf-magic1 {
  background-image: url("img/coralelf-magic1.png");
}

#coralelf-magic2 {
  background-image: url("img/coralelf-magic2.png");
}

#coralelf-magic3 {
  background-image: url("img/coralelf-magic3.png");
}

#coralelf-magic4 {
  background-image: url("img/coralelf-magic4.png");
}

#coralelf-fly3 {
  background-image: url("img/coralelf-fly3.png");
}

#coralelf-bullseye {
  background-image: url("img/coralelf-bullseye.png");
}

#coralelf-cantrip {
  background-image: url("img/coralelf-cantrip.png");
}

#coralelf-counter {
  background-image: url("img/coralelf-counter.png");
}

#coralelf-smite {
  background-image: url("img/coralelf-smite.png");
}

#coralelf-counterm {
  background-image: url("img/coralelf-counterm.png");
}

#coralelf-entanglem {
  background-image: url("img/coralelf-entanglem.png");
}

#coralelf-ferrym {
  background-image: url("img/coralelf-ferrym.png");
}

#coralelf-flym {
  background-image: url("img/coralelf-flym.png");
}

#coralelf-hypnoticglarem {
  background-image: url("img/coralelf-hypnoticglarem.png");
}

#coralelf-lflym {
  background-image: url("img/coralelf-lflym.png");
}

#coralelf-magicm {
  background-image: url("img/coralelf-magicm.png");
}

#coralelf-maneuverm {
  background-image: url("img/coralelf-maneuverm.png");
}

#coralelf-meleem {
  background-image: url("img/coralelf-meleem.png");
}

#coralelf-missilem {
  background-image: url("img/coralelf-missilem.png");
}

#coralelf-rendm {
  background-image: url("img/coralelf-rendm.png");
}

#coralelf-savem {
  background-image: url("img/coralelf-savem.png");
}

#coralelf-smitem {
  background-image: url("img/coralelf-smitem.png");
}

#coralelf-swallowm {
  background-image: url("img/coralelf-swallowm.png");
}

#coralelf-tailm {
  background-image: url("img/coralelf-tailm.png");
}

#coralelf-tramplem {
  background-image: url("img/coralelf-tramplem.png");
}

#coralelf-wavem {
  background-image: url("img/coralelf-wavem.png");
}


/* Dwarf Backgrounds */

#theurgist {
  background-image: url("img/theurgist.png");
}


/* Feral Backgrounds */

#antelopefolk {
  background-image: url("img/antelopefolk.png");
}

#badgerfolk {
  background-image: url("img/badgerfolk.png");
}

#bearfolk {
  background-image: url("img/bearfolk.png");
}

#buffalofolk {
  background-image: url("img/buffalofolk.png");
}

#elephantfolk {
  background-image: url("img/elephantfolk.png");
}

#falconfolk {
  background-image: url("img/falconfolk.png");
}

#foxfolk {
  background-image: url("img/foxfolk.png");
}

#hawkfolk {
  background-image: url("img/hawkfolk.png");
}

#horsefolk {
  background-image: url("img/horsefolk.png");
}

#houndfolk {
  background-image: url("img/houndfolk.png");
}

#leopardfolk {
  background-image: url("img/leopardfolk.png");
}

#lionfolk {
  background-image: url("img/lionfolk.png");
}

#lynxfolk {
  background-image: url("img/lynxfolk.png");
}

#owlfolk {
  background-image: url("img/owlfolk.png");
}

#rhinofolk {
  background-image: url("img/rhinofolk.png");
}

#tigerfolk {
  background-image: url("img/tigerfolk.png");
}

#vulturefolk {
  background-image: url("img/vulturefolk.png");
}

#weaselfolk {
  background-image: url("img/weaselfolk.png");
}

#wolffolk {
  background-image: url("img/wolffolk.png");
}

#wolverinefolk {
  background-image: url("img/wolverinefolk.png");
}

#feral-bullseye {
  background-image: url("img/feral-bullseye.png");
}

#feral-cantrip {
  background-image: url("img/feral-cantrip.png");
}

#feral-counter {
  background-image: url("img/feral-counter.png");
}

#feral-dispelmagicm {
  background-image: url("img/feral-dispelmagicm.png");
}

#feral-doublestrike {
  background-image: url("img/feral-doublestrike.png");
}

#feral-doublestrikem {
  background-image: url("img/feral-doublestrikem.png");
}

#feral-flym {
  background-image: url("img/feral-flym.png");
}

#feral-gorem {
  background-image: url("img/feral-gorem.png");
}

#feral-hugm {
  background-image: url("img/feral-hugm.png");
}

#feral-magic1 {
  background-image: url("img/feral-magic1.png");
}

#feral-magic2 {
  background-image: url("img/feral-magic2.png");
}

#feral-magic3 {
  background-image: url("img/feral-magic3.png");
}

#feral-magic4 {
  background-image: url("img/feral-magic4.png");
}

#feral-magicm {
  background-image: url("img/feral-magicm.png");
}

#feral-maneuver1 {
  background-image: url("img/feral-maneuver1.png");
}

#feral-maneuver2 {
  background-image: url("img/feral-maneuver2.png");
}

#feral-maneuver3 {
  background-image: url("img/feral-maneuver3.png");
}

#feral-maneuver4 {
  background-image: url("img/feral-maneuver4.png");
}

#feral-maneuverm {
  background-image: url("img/feral-maneuverm.png");
}

#feral-melee1 {
  background-image: url("img/feral-melee1.png");
}

#feral-melee2 {
  background-image: url("img/feral-melee2.png");
}

#feral-melee3 {
  background-image: url("img/feral-melee3.png");
}

#feral-melee4 {
  background-image: url("img/feral-melee4.png");
}

#feral-meleem {
  background-image: url("img/feral-meleem.png");
}

#feral-missile1 {
  background-image: url("img/feral-missile1.png");
}

#feral-missile2 {
  background-image: url("img/feral-missile2.png");
}

#feral-missile3 {
  background-image: url("img/feral-missile3.png");
}

#feral-missile4 {
  background-image: url("img/feral-missile4.png");
}

#feral-missilem {
  background-image: url("img/feral-missilem.png");
}

#feral-paw1 {
  background-image: url("img/feral-paw1.png");
}

#feral-paw2 {
  background-image: url("img/feral-paw2.png");
}

#feral-paw3 {
  background-image: url("img/feral-paw3.png");
}

#feral-paw4 {
  background-image: url("img/feral-paw4.png");
}

#feral-pawm {
  background-image: url("img/feral-pawm.png");
}

#feral-rend3 {
  background-image: url("img/feral-rend3.png");
}

#feral-roarm {
  background-image: url("img/feral-roarm.png");
}

#feral-save1 {
  background-image: url("img/feral-save1.png");
}

#feral-save2 {
  background-image: url("img/feral-save2.png");
}

#feral-save3 {
  background-image: url("img/feral-save3.png");
}

#feral-save4 {
  background-image: url("img/feral-save4.png");
}

#feral-savem {
  background-image: url("img/feral-savem.png");
}

#feral-screechm {
  background-image: url("img/feral-screechm.png");
}

#feral-seizem {
  background-image: url("img/feral-seizem.png");
}

#feral-talon1 {
  background-image: url("img/feral-talon1.png");
}

#feral-talon2 {
  background-image: url("img/feral-talon2.png");
}

#feral-talon3 {
  background-image: url("img/feral-talon3.png");
}

#feral-tramplem {
  background-image: url("img/feral-tramplem.png");
}

#feral-trumpetm {
  background-image: url("img/feral-trumpetm.png");
}


/* Firewalker Backgrounds */

#firemaster {
  background-image: url("img/firemaster.png");
}


/* Frostwing Backgrounds */

#advocate {
  background-image: url("img/advocate.png");
}

#apprentice {
  background-image: url("img/apprentice.png");
}

#assailer {
  background-image: url("img/assailer.png");
}

#assaulter {
  background-image: url("img/assaulter.png");
}

#attacker {
  background-image: url("img/attacker.png");
}

#bearmaster {
  background-image: url("img/bearmaster.png");
}

#cryohydra {
  background-image: url("img/cryohydra.png");
}

#defender {
  background-image: url("img/defender.png");
}

#destroyer {
  background-image: url("img/destroyer.png");
}

#devastator  {
  background-image: url("img/devastator.png");
}

#dispatcher  {
  background-image: url("img/dispatcher.png");
}

#frostogre {
  background-image: url("img/frostogre.png");
}

#houndmaster {
  background-image: url("img/houndmaster.png");
}

#magi {
  background-image: url("img/magi.png");
}

#magus {
  background-image: url("img/magus.png");
}

#remorhaz {
  background-image: url("img/remorhaz.png");
}

#vindicator {
  background-image: url("img/vindicator.png");
}

#wolfmaster {
  background-image: url("img/wolfmaster.png");
}

#wolfpack {
  background-image: url("img/wolfpack.png");
}

#yeti {
  background-image: url("img/yeti.png");
}

#frostwing-bullseye {
  background-image: url("img/frostwing-bullseye.png");
}

#frostwing-cantrip {
  background-image: url("img/frostwing-cantrip.png");
}

#frostwing-cantripm {
  background-image: url("img/frostwing-cantripm.png");
}

#frostwing-doublestrikem {
  background-image: url("img/frostwing-doublestrikem.png");
}

#frostwing-frostbreathm {
  background-image: url("img/frostwing-frostbreathm.png");
}

#frostwing-fly1 {
  background-image: url("img/frostwing-fly1.png");
}

#frostwing-fly2 {
  background-image: url("img/frostwing-fly2.png");
}

#frostwing-fly3 {
  background-image: url("img/frostwing-fly3.png");
}

#frostwing-fly4 {
  background-image: url("img/frostwing-fly4.png");
}

#frostwing-howlm {
  background-image: url("img/frostwing-howlm.png");
}

#frostwing-magicm {
  background-image: url("img/frostwing-magicm.png");
}

#frostwing-maneuver1 {
  background-image: url("img/frostwing-maneuver1.png");
}

#frostwing-maneuver2 {
  background-image: url("img/frostwing-maneuver2.png");
}

#frostwing-maneuverm {
  background-image: url("img/frostwing-maneuverm.png");
}

#frostwing-magic1 {
  background-image: url("img/frostwing-magic1.png");
}

#frostwing-magic2 {
  background-image: url("img/frostwing-magic2.png");
}

#frostwing-magic3 {
  background-image: url("img/frostwing-magic3.png");
}

#frostwing-magic4 {
  background-image: url("img/frostwing-magic4.png");
}

#frostwing-magicm {
  background-image: url("img/frostwing-magicm.png");
}

#frostwing-melee1 {
  background-image: url("img/frostwing-melee1.png");
}

#frostwing-melee2 {
  background-image: url("img/frostwing-melee2.png");
}

#frostwing-melee3 {
  background-image: url("img/frostwing-melee3.png");
}

#frostwing-melee4 {
  background-image: url("img/frostwing-melee4.png");
}

#frostwing-meleem {
  background-image: url("img/frostwing-meleem.png");
}

#frostwing-missile1 {
  background-image: url("img/frostwing-missile1.png");
}

#frostwing-missile2 {
  background-image: url("img/frostwing-missile2.png");
}

#frostwing-missile3 {
  background-image: url("img/frostwing-missile3.png");
}

#frostwing-missile4 {
  background-image: url("img/frostwing-missile4.png");
}

#frostwing-missilem {
  background-image: url("img/frostwing-missilem.png");
}

#frostwing-paw1 {
  background-image: url("img/frostwing-paw1.png");
}

#frostwing-paw2 {
  background-image: url("img/frostwing-paw2.png");
}

#frostwing-paw3 {
  background-image: url("img/frostwing-paw3.png");
}

#frostwing-pawm {
  background-image: url("img/frostwing-pawm.png");
}

#frostwing-rend {
  background-image: url("img/frostwing-rend.png");
}

#frostwing-rendm {
  background-image: url("img/frostwing-rendm.png");
}

#frostwing-save1 {
  background-image: url("img/frostwing-save1.png");
}

#frostwing-save2 {
  background-image: url("img/frostwing-save2.png");
}

#frostwing-save3 {
  background-image: url("img/frostwing-save3.png");
}

#frostwing-save4 {
  background-image: url("img/frostwing-save4.png");
}

#frostwing-savem {
  background-image: url("img/frostwing-savem.png");
}

#frostwing-smite {
  background-image: url("img/frostwing-smite.png");
}

#frostwing-smitem {
  background-image: url("img/frostwing-smitem.png");
}

#frostwing-surprisem {
  background-image: url("img/frostwing-surprisem.png");
}

#frostwing-swallowm {
  background-image: url("img/frostwing-swallowm.png");
}

#frostwing-volley {
  background-image: url("img/frostwing-volley.png");
}



/* Goblin Backgrounds */

#thug {
  background-image: url("img/thug.png");
}


/* Lava Elf Backgrounds */

#adept {
  background-image: url("img/adept.png");
}

#assassin {
  background-image: url("img/assassin.png");
}

#beholder {
  background-image: url("img/beholder.png");
}

#bladesman {
  background-image: url("img/bladesman.png");
}

#conqueror {
  background-image: url("img/conqueror.png");
}

#deadshot {
  background-image: url("img/deadshot.png");
}

#drider {
  background-image: url("img/drider.png");
}

#duelist {
  background-image: url("img/duelist.png");
}

#fusilier {
  background-image: url("img/fusilier.png");
}

#hellhound {
  background-image: url("img/hellhound.png");
}

#infiltrator {
  background-image: url("img/infiltrator.png");
}

#lurkerinthedeep {
  background-image: url("img/lurkerinthedeep.png");
}

#necromancer {
  background-image: url("img/necromancer.png");
}

#rakshasa {
  background-image: url("img/rakshasa.png");
}

#scorpionknight {
  background-image: url("img/scorpionknight.png");
}

#scout {
  background-image: url("img/scout.png");
}

#spiderrider {
  background-image: url("img/spiderrider.png");
}

#spy {
  background-image: url("img/spy.png");
}

#warlock {
  background-image: url("img/warlock.png");
}

#wyvernrider {
  background-image: url("img/wyvernrider.png");
}

#lavaelf-cantrip {
  background-image: url("img/lavaelf-cantrip.png");
}

#lavaelf-bullseye {
  background-image: url("img/lavaelf-bullseye.png");
}

#lavaelf-cantripm {
  background-image: url("img/lavaelf-cantripm.png");
}

#lavaelf-charmm {
  background-image: url("img/lavaelf-charmm.png");
}

#lavaelf-cloakm {
  background-image: url("img/lavaelf-cloakm.png");
}

#lavaelf-confusem {
  background-image: url("img/lavaelf-confusem.png");
}

#lavaelf-counter {
  background-image: url("img/lavaelf-counter.png");
}

#lavaelf-counterm {
  background-image: url("img/lavaelf-counterm.png");
}

#lavaelf-flamem {
  background-image: url("img/lavaelf-flamem.png");
}

#lavaelf-fly1 {
  background-image: url("img/lavaelf-fly1.png");
}

#lavaelf-fly5 {
  background-image: url("img/lavaelf-fly5.png");
}

#lavaelf-flym {
  background-image: url("img/lavaelf-flym.png");
}

#lavaelf-illusionm {
  background-image: url("img/lavaelf-illusionm.png");
}

#lavaelf-magic1 {
  background-image: url("img/lavaelf-magic1.png");
}

#lavaelf-magic2 {
  background-image: url("img/lavaelf-magic2.png");
}

#lavaelf-magic4 {
  background-image: url("img/lavaelf-magic4.png");
}

#lavaelf-magic5 {
  background-image: url("img/lavaelf-magic5.png");
}

#lavaelf-magicm {
  background-image: url("img/lavaelf-magicm.png");
}

#lavaelf-maneuver1 {
  background-image: url("img/lavaelf-maneuver1.png");
}

#lavaelf-maneuver2 {
  background-image: url("img/lavaelf-maneuver2.png");
}

#lavaelf-maneuver3 {
  background-image: url("img/lavaelf-maneuver3.png");
}

#lavaelf-maneuver4 {
  background-image: url("img/lavaelf-maneuver4.png");
}

#lavaelf-maneuver5 {
  background-image: url("img/lavaelf-maneuver5.png");
}

#lavaelf-maneuverm {
  background-image: url("img/lavaelf-maneuverm.png");
}

#lavaelf-melee1 {
  background-image: url("img/lavaelf-melee1.png");
}

#lavaelf-melee1 {
  background-image: url("img/lavaelf-melee1.png");
}

#lavaelf-melee2 {
  background-image: url("img/lavaelf-melee2.png");
}

#lavaelf-melee3 {
  background-image: url("img/lavaelf-melee3.png");
}

#lavaelf-melee4 {
  background-image: url("img/lavaelf-melee4.png");
}

#lavaelf-melee5 {
  background-image: url("img/lavaelf-melee5.png");
}

#lavaelf-meleem {
  background-image: url("img/lavaelf-meleem.png");
}

#lavaelf-missile1 {
  background-image: url("img/lavaelf-missile1.png");
}

#lavaelf-missile2 {
  background-image: url("img/lavaelf-missile2.png");
}

#lavaelf-missile3 {
  background-image: url("img/lavaelf-missile3.png");
}

#lavaelf-missile4 {
  background-image: url("img/lavaelf-missile4.png");
}

#lavaelf-missile5 {
  background-image: url("img/lavaelf-missile5.png");
}

#lavaelf-missilem {
  background-image: url("img/lavaelf-missilem.png");
}

#lavaelf-save1 {
  background-image: url("img/lavaelf-save1.png");
}

#lavaelf-save2 {
  background-image: url("img/lavaelf-save2.png");
}

#lavaelf-save3 {
  background-image: url("img/lavaelf-save3.png");
}

#lavaelf-smite {
  background-image: url("img/lavaelf-smite.png");
}

#lavaelf-savem {
  background-image: url("img/lavaelf-savem.png");
}

#lavaelf-stonem {
  background-image: url("img/lavaelf-stonem.png");
}

#lavaelf-volleym {
  background-image: url("img/lavaelf-volleym.png");
}

#lavaelf-webm {
  background-image: url("img/lavaelf-webm.png");
}


/* Undead Backgrounds */

#skeleton {
  background-image: url("img/skeleton.png");
}


/* Scalder Backgrounds */

#scalder-melee1 {
  background-image: url("img/scalder-melee1.png");
}

#scalder-melee2 {
  background-image: url("img/scalder-melee2.png");
}

#scalder-melee3 {
  background-image: url("img/scalder-melee3.png");
}

#scalder-melee4 {
  background-image: url("img/scalder-melee4.png");
}

#scalder-melee5 {
  background-image: url("img/scalder-melee5.png");
}

#scalder-melee6 {
  background-image: url("img/scalder-melee6.png");
}

#scalder-missile1 {
  background-image: url("img/scalder-missile1.png");
}

#scalder-missile2 {
  background-image: url("img/scalder-missile2.png");
}

#scalder-missile3 {
  background-image: url("img/scalder-missile3.png");
}

#scalder-missile4 {
  background-image: url("img/scalder-missile4.png");
}

#scalder-missile6 {
  background-image: url("img/scalder-missile6.png");
}

#scalder-maneuver1 {
  background-image: url("img/scalder-maneuver1.png");
}

#scalder-maneuver2 {
  background-image: url("img/scalder-maneuver2.png");
}

#scalder-maneuver3 {
  background-image: url("img/scalder-maneuver3.png");
}

#scalder-paw1 {
  background-image: url("img/scalder-paw1.png");
}

#scalder-paw2 {
  background-image: url("img/scalder-paw2.png");
}

#scalder-paw3 {
  background-image: url("img/scalder-paw3.png");
}

#scalder-paw4 {
  background-image: url("img/scalder-paw4.png");
}

#scalder-paw6 {
  background-image: url("img/scalder-paw6.png");
}

#scalder-save1 {
  background-image: url("img/scalder-save1.png");
}

#scalder-save2 {
  background-image: url("img/scalder-save2.png");
}

#scalder-magic1 {
  background-image: url("img/scalder-magic1.png");
}

#scalder-magic2 {
  background-image: url("img/scalder-magic2.png");
}

#scalder-magic3 {
  background-image: url("img/scalder-magic3.png");
}

#scalder-magic4 {
  background-image: url("img/scalder-magic4.png");
}

#scalder-magic6 {
  background-image: url("img/scalder-magic6.png");
}

#scalder-fly4 {
  background-image: url("img/scalder-fly4.png");
}

#scalder-flamingarrow {
  background-image: url("img/scalder-flamingarrow.png");
}

#scalder-cantrip {
  background-image: url("img/scalder-cantrip.png");
}

#scalder-counter {
  background-image: url("img/scalder-counter.png");
}

#scalder-smite {
  background-image: url("img/scalder-smite.png");
}

#scalder-bullseyem {
  background-image: url("img/scalder-bullseyem.png");
}

#scalder-cantripm {
  background-image: url("img/scalder-cantripm.png");
}

#scalder-confusem {
  background-image: url("img/scalder-confusem.png");
}

#scalder-counterm {
  background-image: url("img/scalder-counterm.png");
}

#scalder-dispelmagicm {
  background-image: url("img/scalder-dispelmagicm.png");
}

#scalder-flym {
  background-image: url("img/scalder-flym.png");
}

#scalder-magicm {
  background-image: url("img/scalder-magicm.png");
}

#scalder-maneuverm {
  background-image: url("img/scalder-maneuverm.png");
}

#scalder-meleem {
  background-image: url("img/scalder-meleem.png");
}

#scalder-missilem {
  background-image: url("img/scalder-missilem.png");
}

#scalder-poisonm {
  background-image: url("img/scalder-poisonm.png");
}

#scalder-savem {
  background-image: url("img/scalder-savem.png");
}

#scalder-webm {
  background-image: url("img/scalder-webm.png");
}

#blazer {
  background-image: url("img/blazer.png");
}

#burner {
  background-image: url("img/burner.png");
}

#charkin {
  background-image: url("img/charkin.png");
}

#dragonneknight {
  background-image: url("img/dragonneknight.png");
}

#dragonnerider {
  background-image: url("img/dragonnerider.png");
}

#dragonnetender {
  background-image: url("img/dragonnetender.png");
}

#ettercap {
  background-image: url("img/ettercap.png");
}

#glower {
  background-image: url("img/glower.png");
}

#igniter {
  background-image: url("img/igniter.png");
}

#inferno {
  background-image: url("img/inferno.png");
}

#kindler {
  background-image: url("img/kindler.png");
}

#quickling {
  background-image: url("img/quickling.png");
}

#searer {
  background-image: url("img/searer.png");
}

#scorcher {
  background-image: url("img/scorcher.png");
}

#singeman {
  background-image: url("img/singeman.png");
}

#smolderer {
  background-image: url("img/smolderer.png");
}

#sparker {
  background-image: url("img/sparker.png");
}

#unseeliefaerie {
  background-image: url("img/unseeliefaerie.png");
}

#webbirds {
  background-image: url("img/webbirds.png");
}

#willowisp {
  background-image: url("img/willowisp.png");
}



/* Swamp Stalker Backgrounds */

#raider {
  background-image: url("img/raider.png");
}


/* Treefolk Backgrounds */

#pineling {
  background-image: url("img/pineling.png");
}



/* Dragon Backgrounds */

#air-breath {
  background-image: url("img/air-breath.png");
}

#death-breath {
  background-image: url("img/death-breath.png");
}

#fire-breath {
  background-image: url("img/fire-breath.png");
}

#earth-breath {
  background-image: url("img/earth-breath.png");
}

#water-breath {
  background-image: url("img/water-breath.png");
}

#ivory-breath {
  background-image: url("img/ivory-breath.png");
}

#white-breath {
  background-image: url("img/white-breath.png");
}

#dragon-belly {
  background-image: url("img/dragon-belly.png");
}

#dragon-breath {
  background-image: url("img/dragon-breath.png");
}

#dragon-claws {
  background-image: url("img/dragon-claws.png");
}

#dragon-jaws {
  background-image: url("img/dragon-jaws.png");
}

#dragon-tail {
  background-image: url("img/dragon-tail.png");
}

#dragon-treasure {
  background-image: url("img/dragon-treasure.png");
}

#dragon-wing {
  background-image: url("img/dragon-wing.png");
}


/* Elemental Backgrounds */

.air-item {
  background-image: url("img/Air.png");
}

.death-item {
  background-image: url("img/Death.png");
}

.earth-item {
  background-image: url("img/Earth.png");
}

.fire-item {
  background-image: url("img/Fire.png");
}

.water-item {
  background-image: url("img/Water.png");
}

/* Terrain Backgrounds */

#terrain-city {
  background-image: url("img/terrain-city.png");
}

#terrain-standingstones {
  background-image: url("img/terrain-standingstones.png");
}

#terrain-temple {
  background-image: url("img/terrain-temple.png");
}

#terrain-tower {
  background-image: url("img/terrain-tower.png");
}

#terrain-castle {
  background-image: url("img/terrain-castle.png");
}

#terrain-dragonslair {
  background-image: url("img/terrain-dragonslair.png");
}

#terrain-grove {
  background-image: url("img/terrain-grove.png");
}

#terrain-vortex {
  background-image: url("img/terrain-vortex.png");
}